*.exe
*.pyc

# TopCoder
TopCoder/*/*.html
TopCoder/*/*.sample

# test cases
*.in
*.out

# atcoder-cli
**/contest.acc.json

# oj-bundle
_dist/tmp.cpp
_dist/main.cpp

# compressed libs
_lib/cpp/_dist/**
