appdirs==1.4.4
astroid==2.6.5
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
colorlog==6.6.0
decorator==4.4.2
idna==3.2
importlab==0.6.1
importlib-metadata==4.8.2
isort==5.9.3
jsonschema==3.2.0
lazy-object-proxy==1.6.0
lxml==4.6.4
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
networkx==2.5.1
numpy==1.19.5
online-judge-api-client==10.10.0
online-judge-template-generator==4.8.1
online-judge-tools==11.5.1
online-judge-verify-helper==5.6.0
ply==3.11
pylint==2.9.6
pyrsistent==0.18.0
PyYAML==6.0
requests==2.26.0
scipy==1.5.4
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
wrapt==1.12.1
zipp==3.6.0
